.container {
  width: 100%;
  padding: 1rem;
  color: #333;
}

.heading {
  display: flex;
  flex-direction: column;
  text-align: start;

  width: 100%;
}

.title {
  font-size: 3em;
}

.subtitle {
  margin-bottom: 1.5rem;
}

.description {
  margin: 1.5rem 0;
  font-size: 1.1em;
  text-transform: capitalize;
}

.userName {
  font-size: 0.9em;
}
.userName span {
  font-weight: bold;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 1px solid #c4c4c4;
}

.img__container {
  max-width: 400px;
}

.img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.prepInfo__container {
  display: flex;
  padding: 1rem 0;
  margin-top: 1rem;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  border: 2px solid #c4c4c4;
  border-radius: 5px;
  position: relative;
}

.prepInfo {
  padding: 1rem 2rem;
  font-size: 1.1em;
}

.prepInfo span {
  font-weight: bold;
}

.icon__container {
  background-color: #f3f3f3;
  width: 32px;
  height: 32px;
  top: -3px;
  right: -3px;
  position: absolute;
}

.icon {
  filter: invert(68%) sepia(20%) saturate(1338%) hue-rotate(109deg)
    brightness(86%) contrast(92%);

  width: 32px;
  height: 32px;
}

.section__container {
  padding: 3rem 0;
}

.ingredient {
  display: flex;
  gap: 8px;
  margin-top: 0.5rem;
}

.step {
  display: flex;
  gap: 8px;
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .heading {
    padding: 4rem 2rem;
    max-width: 760px;
  }
  .info {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2rem 2rem;
    gap: 2.5rem;
  }
  .prepInfo__container {
    width: 30%;
  }

  .section__container {
    padding: 3rem 2rem;
  }
}
