.container {
  color: #333333;
}

.heading {
  margin: 2rem auto;
  text-align: center;
  width: 100%;
}

.heading__subtitle {
  padding: 1rem;
}

@media (min-width: 768px) {
  .heading {
    width: 50%;
  }

  .heading p {
    padding: 0rem;
  }
}
